html, body {
    height: 100%;  
    width: 100%;
}

body * {
    font-family: 'Roboto', arial, sans-serif;
    margin: auto;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

header {
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

footer {
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
} 

li {
    padding: 5px; 
}

.google_img {
    text-align: -webkit-center;
}

.right_links {
    float: right;
}