body * {
    font-family: 'Roboto', arial, sans-serif;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

header {
  line-height: 40px;
  min-width: 600px;
  border-top: 1px solid #e4e4e4;
}

footer {
  background: #f2f2f2;
  line-height: 40px;
  min-width: 600px;
  border-top: 1px solid #e4e4e4;
}

li {
  padding: 5px;
}

.right_links {
  float: right;
}